DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=
DB_SSL=false

PORT=3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d


ALIEXPRESS_API_KEY=5292
ALIEXPRESS_API_SECRET=
ALIEXPRESS_TRACKING_ID=your_tracking_id_here

do_apitoken=